:root {
    --color-body: hsl(241, 51%, 16%);
    --color-white-90: hsl(0, 0%, 90%);
    --color-gradient-left: hsl(204, 49%, 33%);
    --color-gradient-right: hsl(140, 37%, 39%);
    --color-dark: hsl(230, 5%, 22%);
}

body {
	background-color: var(--color-body);
	color: var(--color-white-90);
	overflow-y: visible;
	font-family: Arial;
}

h1 {
	color: var(--color-white-90);
}

.warning {
	font-weight: bold;
	color: #FE4040;
	font-size: 120%;
}

#info {
	color: var(--color-white-90);
}

#random {
	font-size: 24px;
}

#images {
	margin: 20px 0;
}

#images a:visited {
	opacity: 0.3;
	display: inline-block;
}

#images img {
	margin-right: 5px;
        background-color: var(--color-dark);
}

#images img:hover {
	border: 2px solid #98CDFF;
}

#filteredimages {
	margin: 20px 0;
}

#filteredimages a:visited {
	opacity: 0.3;
	display: inline-block;
}

#filteredimages img {
	margin-right: 5px;
        background-color: var(--color-dark);
}

#filteredimages img:hover {
	border: 2px solid #98CDFF;
}

.collapsible {
	background: linear-gradient(90deg, var(--color-gradient-left) 0%, var(--color-gradient-right) 100%);
	color: var(--color-white-90);
	padding: 6px;
	width: 50%;
	text-align: center;
	outline: none;
	font-size: 15px;
        border: 0 none;
}

.content {
	width: 49.5%;
	display: none;
	overflow: hidden;
	text-align: left;
	background-color: var(--color-dark);
}

a {
	color: #98CDFF;
}

a:visited, a:hover {
	color: #87BCEE;
}

.slidecontainer {
        margin: 0 auto;
}
