:root {
    --color-body: hsl(241, 51%, 16%);
    --color-white-90: hsl(0, 0%, 90%);
    --color-gradient-left: hsl(204, 49%, 33%);
    --color-gradient-right: hsl(140, 37%, 39%);
    --color-dark: hsl(230, 5%, 22%);
    --color-blue: hsl(236, 96%, 64%);
    --color-lightblue: hsl(225, 100%, 65%);
    --color-red: hsl(0, 99%, 62%);
}

body {
    background-color: var(--color-body);
    color: var(--color-white-90);
    overflow-y: visible;
    font-family: Verdana;
}

h1 {
    color: var(--color-white-90);
}

.warning {
    font-weight: bold;
    color: var(--color-red);
    font-size: 120%;
}

#info {
    color: var(--color-white-90);
}

#random {
    font-size: 24px;
}

#images {
    margin: 20px 0;
}

#images a:visited {
    display: inline-block;
}

#images img {
    margin-right: 5px;
    background-color: var(--color-dark);
}

#images img:hover {
    border: 2px solid var(--color-lightblue);
}

#filteredimages {
    margin: 20px 0;
}

#filteredimages a:visited {
    display: inline-block;
}

#filteredimages img {
    margin-right: 5px;
    background-color: var(--color-dark);
}

#filteredimages img:hover {
    border: 2px solid var(--color-lightblue);
}

.collapsible {
    background: linear-gradient(90deg, var(--color-gradient-left) 0%, var(--color-gradient-right) 100%);
    color: var(--color-white-90);
    padding: 6px;
    width: 50%;
    text-align: center;
    outline: none;
    font-size: 15px;
    border: 0 none;
}

.content {
    width: 49.5%;
    display: none;
    overflow: hidden;
    text-align: left;
    background-color: var(--color-dark);
    padding: 6px;
}

a {
    color: var(--color-lightblue);
}

a:visited, a:hover {
    color: var(--color-blue);
}

.slidecontainer {
    margin: 0 auto;
}
