:root {
    --color-body: hsl(241, 51%, 16%);
    --color-white-90: hsl(0, 0%, 90%);
    --color-gradient-left: hsl(204, 49%, 33%);
    --color-gradient-right: hsl(140, 37%, 39%);
    --color-dark: hsl(230, 5%, 22%);
    --color-blue: hsl(236, 96%, 64%);
    --color-lightblue: hsl(225, 100%, 65%);
    --color-red: hsl(0, 99%, 62%);

    --font-small-pc: 0.8rem;
    --font-small-mobile: 0.6rem;

    --box-shadow-image: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    --bg-gradient-bluegreen: linear-gradient(90deg, var(--color-gradient-left) 0%, var(--color-gradient-right) 100%);
}

body {
    background-color: var(--color-body);
    color: var(--color-white-90);
    overflow-y: visible;
    font-family: Arial;
    margin: 0;
    padding: 0;
    line-height: 1.0;
}

/* Hyperlinks */
a {
    color: var(--color-lightblue);
}

a:visited, a:hover {
    color: var(--color-blue);
}

/* Header text */
h1 {
    color: var(--color-white-90);
}

/* Topnav */
nav {
    background: var(--bg-gradient-bluegreen);
    margin: 0;
    overflow: hidden;
    color: var(--color-white-90);
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 14px 16px;
    text-align: center;
    box-shadow: var(--box-shadow-image);
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}
 
nav > ul > li > a {
    color: var(--color-lightblue);
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

#sitenotice {
    background-color: var(--color-dark);
    padding: 2px;
    width: 400px;
    margin: 4px 0;
    font-size: var(--font-small-pc);
    color: var(--color-white-90);
}

/* Warning text */
.warning {
    font-weight: bold;
    color: var(--color-red);
    font-size: var(--font-small-pc);
}

#info {
    color: var(--color-white-90);
}

#random {
    font-size: var(--font-small-pc);
}

#hideonload {
    display: none;
}

/* Image styling */
#images, 
#filteredimages {
    margin: 20px 0;
}

#images a:visited, 
#filteredimages a:visited {
    display: inline-block;
}

#images img, 
#filteredimages img {
    margin-right: 5px;
    background: var(--bg-gradient-bluegreen);
    box-shadow: var(--box-shadow-image);
}

#images img:hover, 
#filteredimages img:hover {
    border: 2px solid var(--color-lightblue);
}

/* Options panel styling */
.collapsible {
    background: var(--bg-gradient-bluegreen);
    color: var(--color-white-90);
    padding: 4px;
    width: 400px;
    text-align: center;
    outline: none;
    font-size: var(--font-small-pc);
    border: 0 none;
}

.content {
    width: 400px;
    display: none;
    overflow: hidden;
    text-align: left;
    background-color: var(--color-dark);
    font-size: var(--font-small-pc);
}

.content div {
  padding: 8px;
}

.content .checkboxes {
  padding: 8px;
}

.slidecontainer {
    margin: 0 auto;
}

/* Mobile theming */
@media screen and (max-width: 600px) {
  .collapsible {
    width: 90%;
  }
  .content {
    width: 90%;
    font-size: var(--font-small-mobile);
  }
  #sitenotice {
    width: 90%;
    font-size: var(--font-small-mobile);
  }
  .warning {
    font-size: var(--font-small-mobile);
  }
  h1 {
    font-size: 1rem;
  }
}
